<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" sizes="70x70" href="/static/favicon-globe.png">
    <link rel="stylesheet" href="/static/styles.css">
    <title>{{ title }}</title>
</head>
<body>
    <div class="page">
        <div class="sidebar">
            <div class="sidebar-top">
                <h2>Pages</h2>
            </div>
            <div>
                
            </div>
            <div>
                
            </div>
        </div>
        <div class="right-side">
            <div class="topbar">
                <h2>Mario Odyssey Server</h2>
                <div class="expand"></div>
                <div>Hello</div>
            </div>
            <main>
                {{ content }}
            </main>
        </div>
    </div>
</body>
</html>