{{ title = "Player List" }}
{{ selected = 2 }}

{{ capture head }}
<script src="/static/js/reload.js"></script>
{{ end }}

{{ capture content }}
<div class="max-size center">
    <div class="player-grid">
        {{ for player in players }}
        <div class="card card-hover player-item" onclick="window.location.href='/player/{{player.id}}'">
            <h3>{{ player.name }}</h3>
            <p class="grid-2">
                <span>Cap:</span>
                <img alt="{{player.cap}}" class="small-image" src="{{ get_cap player.cap }}"/>

                <span>Costume:</span>
                <img alt="{{player.body}}" class="small-image" src="{{ get_body player.body }}"/>

                <span>Capture:</span>
                {{
                if player.capture == "None"
                "<span>None</span>"
                else
                '<img alt="' + player.capture +'" class="small-image" src="' + get_capture player.capture + '" }}"/>'
                end
                }}


                <span>Stage:</span>
                <span>{{ player.stage }}</span>

                <span>GameMode:</span>
                <span>{{ player.game_mode }}</span>

                <span>Seeker:</span>
                <span>{{ player.is_it }}</span>

                <span>2D:</span>
                <span>{{ player.is2_d }}</span>
            </p>
        </div>
        {{ end }}
    </div>
</div>
{{ end }}

{{ include 'app.html' }}